.g-hd {
    height: 82px;
    margin-bottom: 30px;
}

.p-body7 .g-hdfull, body, .g-bd9, .g-hdwrap, .p-body10 .g-hdfull, .g-hd {
    background: url(../images/body.png) repeat-x;
}

.m-logo {
    margin: 19px 0px 0 0;
}

.m-logo, .m-logo a {
    position: relative;
    float: left;
    width: 220px;
    height: 44px;
}

.m-logo a {
    background: url("../images/logo.png") 0 0 no-repeat;
    background-size: 180px;
}

.m-nav {
    float: right;
    margin: 35px 0 0;
}

.m-nav .more, .w-sel-4, .w-sel-5, .w-sel-6, .m-nav .nav2, .m-nav .btn, .m-nav .new, .m-nav .nav2 .name, .m-menu .large .dropicon, .m-menu .tip, .w-sel-6 .sd a, .w-sel-6 .sd .sdtip, .m-nav .nav1 .seli a, .m-nav .nav2 .sugbox, .m-ssch2 .sugitma, .m-nav .nav2 .sugbox, .w-vsbtn-3, .w-vsbtn-4, .w-sel-6 .selc .add .user, .w-sel-6 .selc .add, .m-menu .crtp, .w-schbtn2, .m-at .shadow, .w-sel-4 .newicn, .w-wmtips, .w-icnwm, .w-icnreward, .w-icnpaster {
    background: url(../images/icon4-24.png) -9999px -9999px no-repeat;
}

.m-nav .nav1, .m-icnt .icnttt, .w-fttl, .w-ett, .m-layer .warmt, .m-end h2, .m-layer .infoc h2, .m-itag h2, .m-loadm, .m-about h3, .w-load2 {
    font-family: "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", tahoma, arial, simhei, "黑体";
}

.m-nav ul {
    display: inline;
    float: left;
}

.m-nav li {
    position: relative;
    zoom: 1;
    z-index: 65;
    display: inline;
    float: left;
    height: 47px;
    margin: 0 0 0 30px;
    line-height: 24px;
}

.m-nav .nav1 {
    position: relative;
    z-index: 65;
    width: 450px;
    height: 47px;
    padding: 22px 5px 0 0;
    margin: -22px 0 0;
    text-align: left;
    font-size: 16px;
}

.m-nav .nav1 li {
    float: none;
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.m-nav .nav1 a {
    white-space: nowrap;
    font-size: 16px;
    color: #999;
    text-decoration:none;
}

.m-nav .nav1 a:hover {
    text-decoration:none;
    color: #fff;
    -webkit-mask: -webkit-gradient(linear, 50% 30%, 50% 200%, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 1)));
}

.m-nav .nav1 .more {
    display: inline-block;
    width: 15px;
    height: 21px;
    background-position: 6px 9px;
}

.m-nav .nav1 a:hover .more {
    background-position: -16px 9px;
}

.m-nav .j-crt a, .m-nav .j-crt a:hover {
    color: #fff;
}

.m-nav .nav2 {
    float: right;
    position: relative;
    top: -1px;
    left: -2px;
    width: 230px;
    height: 30px;
    margin-left: 26px;
    padding: 2px 10px 2px 32px;
    background-position: 0 -41px;
    z-index: 65;
}

.m-nav .nav2 .ssch, .m-nav .nav2 form {
    background-color: #000;
}

.m-nav .nav2 .btn {
    display: block;
    position: absolute;
    top: 6px;
    left: 10px;
    width: 18px;
    height: 18px;
    background-position: 0 -81px;
}

.m-nav .nav2 form label {
    position: absolute;
    top: 5px;
    left: 32px;
    color: #666;
    cursor: text;
    z-index: 1;
}

.m-nav .nav2 input {
    position: relative;
    width: 204px;
    height: 24px;
    padding: 4px 45px 2px 0;
    margin: 0;
    border: none;
    background-color: transparent;
    outline: none;
    line-height: 18px;
    color: #fff;
    z-index: 3;
}

.g-hd:after, .g-hd8:after, .g-hdfull:after, .g-bd:after, .g-bdfull:after, .g-bdc:after, .g-ft:after, .g-box4:after, .m-mlist:after, .w-opt:after, .m-icnt .icntpt:after, .m-menu .menum:after, .m-sdbox .sdboxm:after, .w-tag ul:after, .m-icnt .cnt:after, .m-icnt .more:after, .m-mlist .isayi:after, .m-cmt ul:after, .m-set .seti:after, .m-set .seti2:after, .m-xlist:after, .m-xlist .xlist:after, .m-pimg .list .itm:after, .m-edtab ul:after, .m-edtadd:after, .m-ctab:after, .w-chklist:after, .m-cmt .cmti:after, .m-filecnt .list:after, .m-calendar ul:after, .m-goodcnt ul:after, .m-goodcnt li:after, .m-goodblog ul:after, .m-goodtag ul:after, .w-account:after, .m-introlist:after, .m-upface2 .upfaceimg:after, .m-mtab:after, .m-filecnt1 .list:after, .m-layer .cclist li:after, .m-newblog-1 .about:after, .w-verify:after, .w-account2 .warn:after, .w-wb1:after, .m-ssch .sugitm:after, .m-layer3 .layerb:after, .m-timeset:after, .m-page-1:after, .m-speinfo .txt:after, .m-nav3:after, .m-templist ul:after, .m-actlist:after, .m-imglist:after, .m-certify:after, .m-certify .item:after, .m-glist2:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: ".";
    overflow: hidden;
}

.g-hd, .g-hdfull, .g-bd, .g-bdfull, .g-bdc, .g-ft, .g-box4, .m-mlist, .w-opt, .m-icnt .icntpt, .m-menu .menum, .m-sdbox .sdboxm, .w-tag ul, .m-icnt .cnt, .m-icnt .more, .m-mlist .isayi, .m-cmt ul, .m-set .seti, .m-set .seti2, .m-xlist, .m-xlist .xlist, .m-pimg .list .itm, .m-edtab ul, .m-edtadd, .m-ctab, .w-chklist, .m-cmt .cmti, .m-filecnt .list, .m-calendar ul, .m-goodcnt ul, .m-goodcnt li, .m-goodblog ul, .m-goodtag ul, .w-account, .m-introlist, .m-upface2 .upfaceimg, .m-mtab, .m-filecnt1 .list, .m-layer .cclist li, .m-newblog-1 .about, .w-verify, .w-account2 .warn, .w-wb1, .m-ssch .sugitm, .m-layer3 .layerb, .m-timeset, .m-page-1, .m-speinfo .txt, .m-nav3, .m-templist ul, .m-actlist, .m-imglist, .m-certify, .m-certify .item, .m-glist2 {
    zoom: 1;
}

.g-hdc, .g-hd8, .g-bd, .g-bd2, .g-bd3, .g-bd4, .g-bd5, .g-bd6, .g-bd7, .g-bd8, .g-ft {
    width: 928px;
    margin: 0 auto;
    text-align: left;
}

.g-bdc {
}

.g-mn {
    float: left;
    width: 674px;
}

#publishPostBar li a.publishlink {
    position: relative;
    zoom: 1;
    overflow: visible;
}

#publishPostBar li a.publishlink .browsersavetip {
    position: absolute;
    top: -1px;
    right: 0;
    width: 22px;
    height: 21px;
    background: url(../images/browsersavetip24.png) 0 0 no-repeat;
}

#publishPostBar li a.publishlink-video .browsersavetip {
    right: -4px;
    width: 25px;
    background: url(../images/browsersavetip_video24.png) 0 0 no-repeat;
}

.m-nav2, .m-nav2 a, .m-activity-1 .m-nav2 span {
    background: url(../images/nav224.png) no-repeat 999px 999px;
}

.publishBarArea .m-nav2 {
    transition: opacity 0.35s ease, visibility 0.35s ease;
    -webkit-transition: opacity 0.35s ease, visibility 0.35s ease;
    -moz-transition: opacity 0.35s ease, visibility 0.35s ease;
    -o-transition: opacity 0.35s ease, visibility 0.35s ease;
}

.publishBarArea .m-nav2 {
    opacity: 1;
}

.m-nav2, .m-nav2 li, .m-nav2 a {
    height: 115px;
}

.m-nav2 {
    position: relative;
    z-index: 9;
    margin: 0 0 25px;
    padding: 1px 2px 3px;
    background-position: 0 0;
}

.m-nav2 li {
    float: left;
    width: 140px;
    margin: 0 0 -1px;
}

.m-nav2 a {
    display: block;
    width: 100%;
    overflow: hidden;
    text-indent: -2000px;
}

.m-nav2 .user {
    position: relative;
    width: 110px;
}

.m-nav2 .user a {
    text-indent: 0;
}

.m-nav2 .user a:hover {
    background-position: -2px -133px;
}

.m-nav2 .user img {
    display: block;
    width: 110px;
    height: 110px;
}

.m-nav2 .user strong {
    visibility: hidden;
}

.m-nav2 .user2 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30px;
    height: 30px;
    border: 2px solid #ededef;
    border-width: 2px 0 0 2px;
}

.m-nav2 .user2 img {
    display: block;
    width: 30px;
    height: 30px;
}

.m-nav2 .n21:hover {
    background-position: -112px -133px;
}

.m-nav2 .n22:hover {
    background-position: -252px -133px;
}

.m-nav2 .n23:hover {
    background-position: -392px -133px;
}

.m-nav2 .n24:hover {
    background-position: -532px -133px;
}

.m-cannonentrybanner {
    overflow: hidden;
}

.m-cannonentrybanner .cannonentrybanner {
    position: relative;
    zoom: 1;
}

.m-cannonentrybanner .cannonentrybanner a {
    display: block;
}

.m-cannonentrybanner .cannonentrybanner img {
    display: block;
    width: 560px;
    height: 100px;
}

.m-cannonentrybanner .cannonentrybanner .close {
    position: absolute;
    right: 12px;
    top: 12px;
    width: 12px;
    height: 12px;
    cursor: pointer;
}

.m-cannonentrybanner .cannonentrybannerslide {
    margin-top: -110px;
}

.a-show, .a-slide .slide, .a-isaym2 .isaym2, .w-opt .opticrt, .a-w-sel .w-sel {
    display: block;
    visibility: hidden \9;
    opacity: 0;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
}

.a-show-do, .a-slide-do .slide, .a-isaym2-do .isaym2, .w-opt .opti-crt .opticrt, .a-w-sel-do .w-sel, .a-show-mask-do {
    display: block;
    visibility: visible \9;
    opacity: 1;
}

.a-scale, .a-slide, .a-isaym2, .a-w-sel {
    position: relative;
    overflow: hidden;
    zoom: 1;
}

.a-slide .m-mlist {
    margin-bottom: 0;
    padding-bottom: 16px;
}

.g-hd:after, .g-hd8:after, .g-hdfull:after, .g-bd:after, .g-bdfull:after, .g-bdc:after, .g-ft:after, .g-box4:after, .m-mlist:after, .w-opt:after, .m-icnt .icntpt:after, .m-menu .menum:after, .m-sdbox .sdboxm:after, .w-tag ul:after, .m-icnt .cnt:after, .m-icnt .more:after, .m-mlist .isayi:after, .m-cmt ul:after, .m-set .seti:after, .m-set .seti2:after, .m-xlist:after, .m-xlist .xlist:after, .m-pimg .list .itm:after, .m-edtab ul:after, .m-edtadd:after, .m-ctab:after, .w-chklist:after, .m-cmt .cmti:after, .m-filecnt .list:after, .m-calendar ul:after, .m-goodcnt ul:after, .m-goodcnt li:after, .m-goodblog ul:after, .m-goodtag ul:after, .w-account:after, .m-introlist:after, .m-upface2 .upfaceimg:after, .m-mtab:after, .m-filecnt1 .list:after, .m-layer .cclist li:after, .m-newblog-1 .about:after, .w-verify:after, .w-account2 .warn:after, .w-wb1:after, .m-ssch .sugitm:after, .m-layer3 .layerb:after, .m-timeset:after, .m-page-1:after, .m-speinfo .txt:after, .m-nav3:after, .m-templist ul:after, .m-actlist:after, .m-imglist:after, .m-certify:after, .m-certify .item:after, .m-glist2:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: ".";
    overflow: hidden;
}

.g-hd, .g-hdfull, .g-bd, .g-bdfull, .g-bdc, .g-ft, .g-box4, .m-mlist, .w-opt, .m-icnt .icntpt, .m-menu .menum, .m-sdbox .sdboxm, .w-tag ul, .m-icnt .cnt, .m-icnt .more, .m-mlist .isayi, .m-cmt ul, .m-set .seti, .m-set .seti2, .m-xlist, .m-xlist .xlist, .m-pimg .list .itm, .m-edtab ul, .m-edtadd, .m-ctab, .w-chklist, .m-cmt .cmti, .m-filecnt .list, .m-calendar ul, .m-goodcnt ul, .m-goodcnt li, .m-goodblog ul, .m-goodtag ul, .w-account, .m-introlist, .m-upface2 .upfaceimg, .m-mtab, .m-filecnt1 .list, .m-layer .cclist li, .m-newblog-1 .about, .w-verify, .w-account2 .warn, .w-wb1, .m-ssch .sugitm, .m-layer3 .layerb, .m-timeset, .m-page-1, .m-speinfo .txt, .m-nav3, .m-templist ul, .m-actlist, .m-imglist, .m-certify, .m-certify .item, .m-glist2 {
    zoom: 1;
}

.m-mlist {
    margin: 0 0 16px;
}

.g-sd {
    float: right;
    width: 230px;
    padding: 0 0 30px;
}

.icon24, .w-sel, .w-sel .selicn, .w-icn, .w-opt .opta, .w-more, .m-menu .icn, .m-menu .set, .m-ssch button, .m-ssch2 button, .w-close, .w-ii, .m-icnt .zoomi, .w-opt .opticrt, .w-more2 span, .w-tip, .w-tip .tipc, .w-close, .w-icancel, .w-iadd, .w-help, .m-filecnt .music .type, .m-filecnt .movie .type, .m-goodblog .new, .m-selmorebtn2 a {
    background: url(../images/icon24.png) no-repeat 999px 999px;
}

.m-menu .menut {
    width: 230px;
    height: 4px;
    overflow: hidden;
    background-position: 0 0;
}

.m-menu .menum {
    padding: 0 2px;
    zoom: 1;
    background-position: -246px 0;
    background-repeat: repeat-y;
}

.m-menu ul {
    float: right;
    width: 200px;
    border-style: solid;
    border-color: #DBDBDD;
    border-width: 2px;
    border-radius: 2px;
    padding-left: 0px;
}

.m-menu li {
    display: inline;
    position: relative;
    float: left;
    width: 100%;
    overflow: hidden;
    height: 38px;
    border-top: 1px solid #dfdfdf;
    background-color: #f3f3f3;
}

.m-menu .first {
    padding-top: 1px;
}

.m-menu .first, .m-menu .first .mi {
    border-top: 0;
}

.m-menu .large {
    height: 53px;
    overflow: visible;
    z-index: 6;
}

.m-menu li {
    transition: background-color 0.3s,height 0.3s,opacity 0.3s;
    -webkit-transition: background-color 0.3s,height 0.3s,opacity 0.3s;
    -moz-transition: background-color 0.3s,height 0.3s,opacity 0.3s;
    -o-transition: background-color 0.3s,height 0.3s,opacity 0.3s;
}

.m-menu .crtp {
    position: absolute;
    top: 0;
    left: 0;
    width: 226px;
    height: 4px;
    overflow: hidden;
    background-position: -1px -695px;
}

.m-menu .mi {
    float: left;
    width: 100%;
    height: 18px;
    overflow: hidden;
    padding: 10px 0;
    border-top: 1px solid #fff;
    line-height: 15px;
    font-size: 14px;
}

.m-menu .icn {
    float: left;
    width: 25px;
    height: 18px;
    margin: 0 0 0 16px;
    overflow: hidden;
}

.m-menu .icn-1 {
    background-position: 0 -288px;
}

.m-menu .txt {
    float: left;
    width: 140px;
    height: 18px;
    line-height: 18px;
    overflow: hidden;
    margin-right: -120px;
    white-space: nowrap;
    color: #444;
}

.m-menu .icn-9 {
    background-position: 0 -1684px;
}

.m-menu .icn-13 {
    background-position: 0 -1966px;
}

.m-menu .inf-1 {
    font-weight: normal;
}

.m-menu .inf {
    float: right;
    margin-right: 17px;
    white-space: nowrap;
    font-size: 12px;
    font-weight: bold;
    color: #888;
    line-height: 18px;
}

ul .small {
    border-color:#b2b2b2;
    padding:10px;
    font-size: 13px;
}

.large-fontsize {
    padding: 10px 25px;
    font-size: 15px;
    font-weight: 700;
}

/************************************/
.round-font {
    line-height: 1;
    font-size: 15px;
    height: 70px;
}

.my_block {
    position: relative;
    background: #fff;
    padding: 15px;
    margin-bottom: 20px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-left: 80px;
}

.post.my_block {
    margin-bottom: 40px;
}

.round-date {
    position: absolute;
    top: -20px;
    right: -35px;
    height: 60px;
    width: 70px;
    padding-top: 10px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    color: #fff;
}

.round-date.red {
    background-color: #63696D;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    height: 70px;
    font-size: 16px;
    line-height: 1;
}

.round-date .day {
    font-size: 30px;
    font-weight: 700;
}

.round-date .day, .round-date .month {
    text-align: center;
    display: block;
}

.article-list .main p {
    margin: 10px 0;
}

.article-meta {
    color: #555;
    font-size: 14px;
}

.ui.label {
    display: inline-block;
    padding: .5em .8em;
}

.ui.ribbon.label {
    margin-top: 5px;
    margin-bottom: 5px;
}

.ui.ribbon.label {
    position: relative;
    margin: 0 .2em;
    left: -2rem;
    padding-left: 2rem;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    border-color: rgba(0,0,0,.15);
}

.ui.red.label, .ui.red.labels .label {
    background-color: #63696D;
    border-color: #63696D;
    color: #fff;
    margin: 5px 0 15px 2px;
    font-size: 14px;
}

.ui.red.ribbon.label {
    border-color: #47456D;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

article>div>p {
    line-height: 20px;
}

.more {
    text-align: center;
}

.article-content.red>.more a {
    background-color: #63696D;
}

.more a {
    color: #fff;
    font-size: 12px;
    padding: 5px 10px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #E8E8E8;
    transition: .5s;
    -o-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
}

.hwinherit {
    height: inherit;
    width: inherit;
}

.defaultAvatar {
    width:90px;
    height:90px;
    background-image: url("../images/default.png");
    background-size:cover;
}
