<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>主页 - July</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />

    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.getHeaderName()}" />
    <meta name="_csrf_parameter" th:content="${_csrf.parameterName}" />

    <base href="/" />
    <link rel="stylesheet" type="text/css"
          href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript"
            src="/webjars/bootstrap/js/bootstrap.min.js"></script>

</head>
<body>

<h1 th:text="${message}"></h1>

<div sec:authorize="isAuthenticated()">
    <h1>hello <span sec:authentication="name"></span></h1>
    <!--<h1>hi<span th:text="${currentUser} ? ${currentUser.email} : Bob">Bob</span></h1>-->
    <a href="#" onclick="logout();">Logout</a>
</div>
<div sec:authorize="isAnonymous()">
    <h1>Login</h1>
    <form th:action="@{/}" method="post">
        <div><label> 邮箱 : <input type="text" name="username"/> </label></div>
        <div><label> 密码: <input type="password" name="password"/> </label></div>
        <div><input type="submit" value="Sign In"/></div>
    </form>
    <div class="container">
        <div>
            With Facebook: <a href="/login/facebook">click here</a>
        </div>
        <div>
            With Github: <a href="/login/github">click here</a>
        </div>
    </div>
    <a th:href="@{/register}">register</a>
</div>
<script>
    var csrfParameter = $("meta[name='_csrf_parameter']").attr("content");
    var csrfHeader = $("meta[name='_csrf_header']").attr("content");
    var csrfToken = $("meta[name='_csrf']").attr("content");

    //logout
    function logout() {
        var data = {};
        data[csrfParameter] = csrfToken;
        $.ajax({
            url: '/logout',
            type: "POST",
            data: data,
            success: function(response) {
                window.location = "/";
            }
        });
    }
</script>

</body>
</html>