<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>主页 - July</title>
<meta name="description" content="" />
<meta name="viewport" content="width=device-width" />

<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.getHeaderName()}" />
<meta name="_csrf_parameter" th:content="${_csrf.parameterName}" />

<base href="/" />
<link rel="stylesheet" type="text/css"
      href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
        src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link  th:href="@{/css/login2.css}" type="text/css"rel="stylesheet" />
    <script th:src="@{/js/login.js}"}></script>


</head>
<body class="backgroundimage">

<div sec:authorize="isAuthenticated()">
    <!--<h1>hello <span sec:authentication="name"></span></h1>-->
    <!--&lt;!&ndash;<h1>hi<span th:text="${currentUser} ? ${currentUser.email} : Bob">Bob</span></h1>&ndash;&gt;-->
    <h2 style="text-align: center"><a href="#" onclick="logout();">Logout</a>
        <!--<br >-->
    <!--<a th:href="@{/timeline}">Timeline</a></h2>-->

    <div th:if="${notBind == 'bind'}">
        <script type="text/javascript">
            window.location = "/timeline";
        </script>
    </div>

</div>

<div sec:authorize="isAnonymous()">

<div class="login" style="margin-top:100px;">
    <div class="header">
        <div class="switch" id="switch">
            <a class="switch_btn_focus" id="switch_qlogin" href="javascript:void(0);" tabindex="7" style="text-decoration:none;">&nbsp&nbsp&nbsp 登录</a>
            <a class="switch_btn" id="switch_login" href="javascript:void(0);" tabindex="8" style="text-decoration:none;">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 注册</a><div class="switch_bottom" id="switch_bottom" style="position: absolute; width: 64px; left: 0px;"></div>
        </div>
    </div>
    <div class="web_qr_login" id="web_qr_login" style="display: block; height: 300px;">
        <!--登录-->
        <div class="web_login" id="web_login">
            <div class="login-box">
                <div class="login_form">
                    <form th:action="@{/}" accept-charset="utf-8" id="login_form" class="loginForm" method="post"><input type="hidden" name="did" value="0"/>
                        <div class="uinArea" id="uinArea">
                            <div class="inputOuter" id="uArea">
                                <input type="text" id="u"  placeholder="常用邮箱" name="username" class="inputstyle"/>
                            </div>
                        </div>
                        <div class="pwdArea" id="pwdArea">
                            <div class="inputOuter" id="pArea">
                                <input type="password" id="p" name="password" placeholder = "密码" class="inputstyle"/>
                            </div>
                        </div>
                        <div style="padding-left:12%;margin-top:20px;">
                            <input type="submit" value="登录" style="width:305px;margin-bottom:30px;" class="button_blue"/>
                        </div>
                        <div style="padding-left: 20px;width: 300px;font-size: 14px;">
                            <a href="/login/facebook">
                                <img th:src="@{/images/facebook.png}" style="margin-left:20px;width:40px;height:40px;border-radius: 6px;">
                                Facebook登录
                            </a>
                            <a href="/login/github">
                                <img th:src="@{/images/github.png}" style="margin-left:20px;width:40px;height:40px;border-radius: 6px;">
                                Github登录
                            </a>
                        </div>
                    </form>
                </div>

            </div>
        </div>
        <!--登录end-->
    </div>
    <!--注册-->
    <div class="qlogin" id="qlogin" style="display: none; ">
        <div class="web_qr_login" id="web_qr_login2" style="display: block; height: 300px;">
            <div class="web_login">
                <form name="form" th:action="@{/register}" method="post" th:object="${form}">
                <ul class="reg_form" id="reg-ul">
                    <li>
                        <div class="uinArea" id="uinArea2">
                            <div class="inputOuter">
                                <input type="email" th:field="*{email}" name="user" placeholder="常用邮箱" class="inputstyle"/>
                                <div th:if="${#fields.hasErrors('email')}",class="alert alert-danger" th:errors="*{email}"></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="uinArea" id="pwdArea2">
                            <div class="inputOuter">
                                <input type="password" id="passwd" th:field="*{password}" name="passwd" placeholder="密码" class="inputstyle"/>
                                <div th:if="${#fields.hasErrors('password')}",class="alert alert-danger" th:errors="*{password}"></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div  class="uinArea" id="pwdArea3">
                            <div class="inputOuter">
                                <input type="password" id="passwd2" name="" th:field="*{passwordRepeated}" placeholder = "确认密码" class="inputstyle" />
                                <div th:if="${#fields.hasErrors('passwordRepeated')}" class="alert alert-danger" th:errors="*{passwordRepeated}"></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div  class="uinArea" id="pwdArea4">
                            <div class="inputOuter">
                                <input type="text" id="nickname" name="" th:field="*{nickname}" placeholder = "昵称" class="inputstyle" />
                                <div th:if="${#fields.hasErrors('nickname')}" class="alert alert-danger" th:errors="*{nickname}"></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div style="padding-left:12%;margin-top:10px;"><input type="submit" value="注        册" style="width:305px;" class="button_blue"/></div>
                    </li><div class="cl"></div>
                </ul></form>
            </div>
        </div>
    </div>
</div>
</div>
<script>
    var csrfParameter = $("meta[name='_csrf_parameter']").attr("content");
    var csrfHeader = $("meta[name='_csrf_header']").attr("content");
    var csrfToken = $("meta[name='_csrf']").attr("content");

    //logout
    function logout() {
        var data = {};
        data[csrfParameter] = csrfToken;
        $.ajax({
            url: '/logout',
            type: "POST",
            data: data,
            success: function(response) {
                window.location = "/";
            }
        });
    }
</script>
</body>
</html>