<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
                     xmlns:sec="http://www.w3.org/1999/xhtml">
<script th:src="@{/js/followControl.js}"></script>
<script th:src="@{/js/listUsers.js}"></script>
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>List User By Nickname</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.getHeaderName()}" />
    <meta name="_csrf_parameter" th:content="${_csrf.parameterName}" />

    <!--弹窗通用资源链接-->
    <link rel="stylesheet" type="text/css"
          href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript"
            src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <!--弹窗通用资源链接结束-->

    <!--Custom Search CSS-->
    <link th:href="@{/css/search.css}" type="text/css" rel="stylesheet"/>
    <!--Custom Timeline CSS-->
    <link th:href="@{/css/timeline.css}" type="text/css" rel="stylesheet"/>
</head>

<body  style="background-color: #ededef;font-family:'Microsoft YaHei'">
<div class="container-fluid">
    <div class="row">
        <div class="g-hd">
            <div id="julyheadbar" class="g-hdc">
                <h1 class="m-logo"><a href="/"><span style="display:none">JULY - 记录生活</span></a></h1>
                <div class="m-nav" id="topbar">
                    <ul class="nav1 tbtag">
                        <li class="j-crt"><a href="/">首页</a></li>
                        <li><a href="#">文字</a></li>
                        <li><a href="#">图片</a></li>
                        <li><a href="#">音乐</a></li>
                        <li><a href="#">视频</a></li>
                    </ul>
                    <div class="nav2" id="schtagbox">
                        <div class="ssch tbtag">
                            <form class="xtag">
                                <a href="#" class="btn xtag"></a>
                                <label class="xtag" style="display:none;">搜索感兴趣的人、事</label>
                                <input type="text" id="for_search" placeholder="搜索感兴趣的人、事" class="xtag" onfocus="this.isfocus = true;"
                                       onkeypress="if(event.keyCode==13)search()"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box" style="width:640px; min-height:300px">
        <div th:if="${num==0}">
            <label class="searchResult">没有搜索到相关结果</label>
            <hr>
        </div>
        <div th:if="${num==1}">
            <div class="list-group">
                <!--style="font-size: 20px;color: #555;font-weight:500"-->
                <div th:if="${type=='nickname'}">
                    <label class="searchResult" style="font-size: 20px;color: #555;font-weight:500">搜索到 <span th:text="${#lists.size(aim_users)}"></span> 个相关结果</label>
                </div>
                <div th:if="${type=='followings'}">
                    <label class="searchResult" style="font-size: 20px;color: #555;font-weight:500">共有 <span th:text="${#lists.size(aim_users)}"></span> 个关注</label>
                </div>
                <div th:if="${type=='followers'}">
                    <label class="searchResult" style="font-size: 20px;color: #555;font-weight:500">共有 <span th:text="${#lists.size(aim_users)}"></span> 个粉丝</label>
                </div>
                <hr>
                <div th:each="aim_user:${aim_users}" style="margin-bottom:100px">
                    <div class="col-lg-2" th:if="${aim_user.avatarAddress} == null">
                        <img class="media-object" data-src="" alt="头像" src='/images/default.png' style="width: 65px; height: 65px; border-radius: 5px;">
                    </div>
                    <div class="col-lg-2" th:if="${aim_user.avatarAddress} != null">
                        <img class="media-object" data-src="" alt="头像" th:src='@{/resource/view/{resourceId}(resourceId=${aim_user.avatarAddress})}' style="width: 65px; height: 65px; border-radius: 5px;">
                    </div>

                    <div class="col-lg-7">
                        <h4 class="list-group-item-heading">
                            <span th:text="${aim_user.nickname}"></span>
                        </h4>
                        <p class="list-group-item-text">
                            <span class="glyphicon glyphicon-envelope" style="color: grey;"></span> <span th:text="${aim_user.email}"></span>
                        </p>
                    </div>
                    <div class="col-lg-3">
                        <button th:if="${aim_user.is_followed=='YES'}" class="btn btn-default" th:onclick="'javascript:follow(\'' + ${aim_user.email} + '\',0,\'' + ${current_user.email} + '\')'">
                            <span class="glyphicon glyphicon-star"></span> 取消关注
                        </button>
                        <button th:if="${aim_user.is_followed=='NO'}" class="btn btn-default" th:onclick="'javascript:follow(\'' + ${aim_user.email} + '\',1,\'' + ${current_user.email} + '\')'">
                            <span class="glyphicon glyphicon-star-empty"></span> 关注
                        </button>
                    </div>
                </div>
                <div style="display:inline-block;text-align:center;width:100%" th:if="${type=='nickname'}">
                    <div class="pagination" style="text-align:center">
                        <a style="border-top-left-radius:3px;border-bottom-left-radius:3px" th:href="@{/listUserByNickname(nickname=${nickname},current_page=${current_page-1},page_size=${page_size})}">上一页</a>
                        <a style="border-top-right-radius:3px;border-bottom-right-radius:3px" th:href="@{/listUserByNickname(nickname=${nickname},current_page=${current_page+1},page_size=${page_size})}">下一页</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
