<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>输入文字</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <link rel = "stylesheet" type="text/css" href="dist/css/wangEditor.min.css">
    <script type="text/javascript" src="dist/js/lib/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="dist/js/wangEditor.min.js"></script>
</head>
<body>
<div style = "width:90%">
    <form th:action="@{/saveArticle}" method ="post">
        <textarea id = "textarea1" name = "article" style="height:500px"></textarea>
        <input type = "submit" value="发布"/>
    </form>
</div>
</body>
<script>
    wangEditor.config.mapAk =  'xI4iY6ZxYkUWGvQEhGERfkfa55vquqFr';
    var editor = new wangEditor('textarea1') ;
    editor.create();
</script>
</html>