<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:display="http://www.w3.org/1999/xhtml"
      xmlns:visibility="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>哈哈</title>
</head>
<body>
<div id = "article1" th:text ="${article}" style="display:none">  </div>
<div><span id = "insert">   </span></div>
</body>
<script>

    var ue  = document.getElementById('article1') ;
    document.getElementById('insert').innerHTML=document.getElementById('article1').textContent;
    </script>
</html>