<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.getHeaderName()}" />
    <meta name="_csrf_parameter" th:content="${_csrf.parameterName}" />

    <title>JULY - 记录生活，发现美好</title>

    <!--弹窗通用资源链接-->
    <link rel="stylesheet" type="text/css"
          href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript"
            src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <!--弹窗通用资源链接结束-->
    <!--Wang editor-->
    <link rel = "stylesheet" type="text/css" href="dist/css/wangEditor.css">
    <script type="text/javascript" src="dist/js/wangEditor.min.js"></script>
    <!--Wangeditor结束-->
    <!-- Fine Uploader New/Modern CSS file
    ====================================================================== -->
    <link th:href="@{/css/gallary/fine-uploader-new.css}" rel="stylesheet">
    <!-- Fine Uploader Custom CSS file
    ====================================================================== -->
    <link th:href="@{/css/gallary/custom.css}" rel="stylesheet">
    <!-- Fine Uploader JS file
    ====================================================================== -->
    <script th:src="@{/js/gallary/fine-uploader.js}"></script>

    <script th:src="@{/js/listUsers.js}"></script>

    <!--<link th:href="@{/css/common.css}" type="text/css" rel="stylesheet"/>-->
    <!--Custom Timeline CSS-->
    <link th:href="@{/css/timeline.css}" type="text/css" rel="stylesheet"/>

    <script type="text/template" id="qq-template-manual-trigger">
        <div class="qq-uploader-selector qq-uploader" qq-drop-area-text="Drop files here">
            <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
                <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
            </div>
            <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
                <span class="qq-upload-drop-area-text-selector"></span>
            </div>
            <div class="buttons">
                <div class="qq-upload-button-selector qq-upload-button">
                    <div>选择文件</div>
                </div>
                <button type="button" id="trigger-upload" class="btn btn-primary">
                    <i class="icon-upload icon-white"></i> 上传
                </button>
            </div>
            <span class="qq-drop-processing-selector qq-drop-processing">
                <span>Processing dropped files...</span>
                <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
            </span>
            <ul class="qq-upload-list-selector qq-upload-list" aria-live="polite" aria-relevant="additions removals">
                <li>
                    <div class="qq-progress-bar-container-selector">
                        <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
                    </div>
                    <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                    <img class="qq-thumbnail-selector" qq-max-size="100" qq-server-scale>
                    <span class="qq-upload-file-selector qq-upload-file"></span>
                    <span class="qq-edit-filename-icon-selector qq-edit-filename-icon" aria-label="Edit filename"></span>
                    <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                    <span class="qq-upload-size-selector qq-upload-size"></span>
                    <button type="button" class="qq-btn qq-upload-cancel-selector qq-upload-cancel">取消</button>
                    <button type="button" class="qq-btn qq-upload-retry-selector qq-upload-retry">重试</button>
                    <button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete">删除</button>
                    <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
                </li>
            </ul>

            <dialog class="qq-alert-dialog-selector">
                <div class="qq-dialog-message-selector"></div>
                <div class="qq-dialog-buttons">
                    <button type="button" class="qq-cancel-button-selector">Close</button>
                </div>
            </dialog>

            <dialog class="qq-confirm-dialog-selector">
                <div class="qq-dialog-message-selector"></div>
                <div class="qq-dialog-buttons">
                    <button type="button" class="qq-cancel-button-selector">No</button>
                    <button type="button" class="qq-ok-button-selector">Yes</button>
                </div>
            </dialog>

            <dialog class="qq-prompt-dialog-selector">
                <div class="qq-dialog-message-selector"></div>
                <input type="text" />
                <div class="qq-dialog-buttons">
                    <button type="button" class="qq-cancel-button-selector">取消</button>
                    <button type="button" class="qq-ok-button-selector">Ok</button>
                </div>
            </dialog>
        </div>
    </script>

</head>
<body style="background-color: #ededef">
<div class="container-fluid">
    <div class="row">
        <div class="g-hd">
            <div id="julyheadbar" class="g-hdc">
                <h1 class="m-logo"><a href="#"><span style="display:none">JULY - 记录生活</span></a></h1>
                <div class="m-nav" id="topbar">
                    <ul class="nav1 tbtag">
                        <li class="j-crt"><a href="#">首页</a></li>
                        <li><a href="#">文字</a></li>
                        <li><a href="#">图片</a></li>
                        <li><a href="#">音乐</a></li>-
                        <li><a href="#">视频</a></li>
                    </ul>

                    <div class="nav2" id="schtagbox">
                        <div class="ssch tbtag">
                            <form class="xtag">
                                <a href="#" class="btn xtag"></a>
                                <label class="xtag" style="display:none;">搜索感兴趣的人、事</label>
                                <input type="text" id="for_search" placeholder="搜索感兴趣的人、事" class="xtag" onfocus="this.isfocus = true;"
                                       onkeypress="if(event.keyCode==13)search()"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="g-bd">
        <div class="g-bdc">
            <div class="g-mn" id="main">
                <div th:if="${current_user.id==aim_user.id}">
                    <div id="publishBarArea" class="publishBarArea">
                        <ul id="publishPostBar" class="m-nav2">
                            <li class="user"><a href="#" id="addAvatar"><strong>上传头像</strong></a></li>
                            <li><a  class="publishlink n21" id="addArticle"  0href="addArticle">文字</a></li>
                            <li><a class="publishlink n22" id="addPictures" href="#">图片</a></li>
                            <li><a class="publishlink n23" id="addMusic" href="#">音乐</a></li>
                            <li><a class="publishlink publishlink-video n24" id="addVideo" href="#">视频</a></li>
                        </ul>
                    </div>
                </div>
                <div id="cannonentrybanner" class="m-cannonentrybanner a-slide a-slide-do">
                    <div id="cannonentrybannerslide" class="m-mlist slide cannonentrybannerslide">
                    </div>
                </div>
                <div class="w-load2" id="loadfirst" style="display: none;"><div class="load">加载中</div></div>

                <div th:each="moment:${timeline}">
                    <div class="m-mlist" >
                        <div class="mlistimg" style="float: left; margin-right:20px">
                            <div class="w-img" style="z-index:1;">
                                <a target="_blank"><img th:src='@{/resource/view/{resourceId}(resourceId=${moment.creater.avatarAddress})}' style="width: 70px; height: 70px; border-radius: 5px;"></a>
                            </div>
                        </div>
                        <div>
                            <!-- <label th:text="${moment.type}"></label>-->
                            <div th:if="${moment.type=='music'}"> <!--音乐-->

                            </div>

                            <div th:if="${moment.type=='pictures'}" style="width:500px; height: 50px; border-radius: 5px;"> <!--图片-->
                                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                    <!-- Indicators -->
                                    <ol class="carousel-indicators">
                                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                        <div th:with="cnt=0">
                                            <div th:each="picture:${moment.resources}" >
                                                <div th:if="${cnt!=0}">
                                                    <label th:text="${cnt}"></label>
                                                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                                </div>
                                            </div>
                                        </div>
                                    </ol>

                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner" role="listbox">
                                        <div th:each="picture:${moment.resources}">
                                            <div class="item">
                                                <img th:src='@{/resource/view/{resourceId}(resourceId=${picture.identity})}' alt="picture">
                                                <div class="carousel-caption"></div><!--图片文字内容-->
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Controls -->
                                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>

                            <div th:if="${moment.type=='video'}"><!--视频-->

                            </div>
                            <div th:if="${moment.type=='article'}"><!--文字-->
                                <article id="post-2582" class="block post">
                                     <span class="round-date red">
                                          <span class="month">4月</span>
                                          <span class="day">16</span>
                                     </span>
                                    <header class="entry-header">
                                        <p class="title">
                                            <a href="#" rel="bookmark">一朵炒鸡萌的表情面板</a>
                                        </p>
                                        <p class="article-meta"><i class="fa fa-heart-o"></i>发表于 2016年4月16日</p>
                                        <div class="article-content red">
                                            <p></p>
                                        </div>
                                    </header>
                                    <!-- .entry-header -->
                                    <div class="article-content red">
                                        <p>换掉多说之后评论一直不方便插♂入表情，所以造了个简单的轮子。</p>
                                        <p>支持颜文字、Emoji、图片等，支持移动端，表情数据从一个可以自定义的json接口读取。</p>
                                        <p>使用方法见GitHub，喜欢就给个star吧~</p>
                                    </div>
                                    <div style="height:10px"></div>
                                    <div class="article-content red">
                                        <p class="more"><a href="#" title="一朵炒鸡萌的表情面板" target="_blank">阅读全文
                                            &gt;&gt;</a></p>
                                    </div>
                                </article>
                                <!--<article id="post-2582" class="block post">
                                     <span class="round-date red">
                                          <span class="month">4月</span>
                                          <span class="day">16</span>
                                     </span>
                                    <div class = "article1" th:text ="${moment.article}" style = "display: none">   </div>
                                    <span class = "insert" ></span>
                                    </article>-->
                            </div>
                        </div>
                    </div>
                </div>

                <a th:href="@{timeline.html(aim_user_id=${aim_user.id},current_page=${current_page-1},page_size=${page_size})}">上一页</a>
                <a th:href="@{timeline.html(aim_user_id=${aim_user.id},current_page=${current_page+1},page_size=${page_size})}">下一页</a>
            </div>

            <div class="m-menu" style="padding-top:5px">
                <div class="menum">
                    <ul>
                        <li class="first large">
                            <div class="large-fontsize"><label th:text="${current_user.nickname}"></label></div>
                        </li>
                        <li class="small">
                            <div class="crtp"></div>
                            <span class="icn icn-9"></span>
                            <span class="txt">文章</span>
                            <span class="inf inf-1"><label th:text="${total_articles}"></label></span>
                        </li>
                        <li class="small">
                            <span class="icn icn-1"></span>
                            <span class="txt"><a th:href="@{listFollowings.html}" >关注</a></span>
                            <span class="inf inf-1"><label th:text="${total_followings}"></label></span></li>
                        <li class="small">
                            <span class="icn icn-13"></span>
                            <span class="txt"><a th:href="@{listFollowers.html}">粉丝</a></span>
                            <span class="inf inf-1"><label th:text="${total_followers}"></label></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="m-loadm" id="loadmore" style="display:none">
        <div class="loadm">载入更多内容</div>
    </div>
    <a title="回到顶部" class="w-top" href="#" id="gtotop" hidefocus="true" style="visibility:hidden;">回到顶部</a>
    <div id="preOpenCoverForPublish" class="preOpenCoverForPublish" style="display:none;opacity:1;"></div>

    <!--上传头像弹窗-->
    <div class="modal fade" id="addAvatarForm" tabindex="-1" role="dialog">
        <div class="modal-dialog" style="width:400px" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title text-center" id="myAvatarAddLabel">
                        <label th:text="${current_user.nickname}" style="margin-right:10px"></label>
                        上传头像
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal form_pop" style="min-height:160px">
                        <form id="avatarUploadForm" th:action="@{/avatar/upload} + '?' + ${_csrf.parameterName} + '=' + ${_csrf.token}" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="type" value="avatar" />
                            <div style="margin-left: 10px;display: inline-block">
                                <div id="avatar-holder" style="float: left" class="img-rounded defaultAvatar"></div>
                                <div style="float:right; width:250px; margin-top:20px; margin-left:18px" >
                                    <input id="avatarFileUpload" type="file" name="files" />
                                    <div style="font-size:11px; margin:10px">支持JPG、PNG、JPEG、GIF格式</div>
                                </div>

                            </div>
                            <div style="margin-top:10px; text-align:center; padding:10px">
                                <input type="submit" value="上传" class="btn btn-default" style="width: 100%; background-color:#00ABC7; border-color:#00ABC7; color:white">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--上传头像弹窗结束-->

    <!--上传图片弹窗-->
    <div class="modal fade" id="addPicturesForm" tabindex="-1" role="dialog">
        <div class="modal-dialog" style="width:700px" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title text-center" id="myPicturesAddLabel"><span class="glyphicon glyphicon-picture" style="margin-right:5px"></span>上传图片</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal form_pop">
                        <form id="picturesUploadForm" th:action="@{/pictures/upload} + '?' + ${_csrf.parameterName} + '=' + ${_csrf.token}" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="type" value="pictures" />
                            <!-- Fine Uploader DOM Element
                            ====================================================================== -->
                            <div id="fine-uploader-manual-trigger"></div>
                        </form>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--上传图片弹窗结束-->

    <!--上传音乐弹窗-->
    <div class="modal fade" id="addMusicForm" tabindex="-1" role="dialog">
        <div class="modal-dialog" style="width:500px" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title text-center" id="myMusicAddLabel"><span class="glyphicon glyphicon-headphones" style="margin-right:5px"></span>上传音乐文件</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal form_pop">
                        <form th:action="@{/resource/upload} + '?' + ${_csrf.parameterName} + '=' + ${_csrf.token}" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="type" value="music" />
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <span class="btn btn-primary" style="background-color:#00ABC7; border-color:#00ABC7" onclick="$(this).parent().find('input[type=file]').click();">浏览本地文件</span>
                                    <input id="fileupload1" type="file" name="files" onchange="$(this).parent().parent().find('.form-control').html($(this).val().split(/[\\|/]/).pop());" style="display: none"/>
                                </span>
                                <span class="form-control"></span>
                            </div>
                            <span style="font-size:11px; margin:10px">支持OGG、MP3、WAV格式</span>
                            <input type="submit" class="btn btn-default" style="margin-top:10px; width:100px; margin-left:15px" value="上传">
                        </form>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--上传音乐弹窗结束-->

    <!--上传视频弹窗-->
    <div class="modal fade" id="addVideoForm" tabindex="-1" role="dialog">
        <div class="modal-dialog" style="width:500px" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title text-center" id="myVideoAddLabel"><span class="glyphicon glyphicon-film" style="margin-right:5px"></span>上传视频文件</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal form_pop">
                        <form th:action="@{/resource/upload} + '?' + ${_csrf.parameterName} + '=' + ${_csrf.token}" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="type" value="video" />
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <span class="btn btn-primary" style="background-color:#00ABC7; border-color:#00ABC7"  onclick="$(this).parent().find('input[type=file]').click();">浏览本地文件</span>
                                    <input type="file" name="files" onchange="$(this).parent().parent().find('.form-control').html($(this).val().split(/[\\|/]/).pop());" style="display: none"/>
                                </span>
                                <span class="form-control"></span>
                            </div>
                            <span style="font-size:11px; margin:10px">支持MP4、WebM、Ogg格式</span>
                            <input type="submit" class="btn btn-default" style="margin-top:10px; width:100px; margin-left:15px" value="上传">
                        </form>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--上传视频弹窗结束-->

    <!--上传文字弹窗-->
    <div class="modal fade" id="addArticleForm" tabindex="-1" role="dialog">
        <div class="modal-dialog" style="width:700px" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title text-center" id="myArticleAddLabel"><span class="glyphicon glyphicon-Label" style="margin-right:5px"></span>上传文字</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal form_pop">
                        <div style = "width:100%;">
                            <form th:action="@{/saveArticle}" method ="post">
                                <textarea id = "textarea1" name = "article" style="height:220px"></textarea>
                                <input type = "submit" class="btn btn-success" value="发布"/>
                            </form>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--上传图片弹窗结束-->


    <script>
    //add conditions pop up
    $(document).ready(function(){
        $("#addAvatar").click(function(){
            $("#addAvatarForm").modal('show');
        });
        $("#addPictures").click(function(){
            $("#addPicturesForm").modal('show');
        });
        $("#addMusic").click(function(){
            $("#addMusicForm").modal('show');
        });
        $("#addVideo").click(function(){
            $("#addVideoForm").modal('show');
        });
        $("#addArticle").click(function(){
            $("#addArticleForm").modal('show') ;
        });
    });
</script>
<!-- code to create an instance of Fine Uploader and bind to the DOM/template
    ====================================================================== -->
<script>
    var csrfParameter = $("meta[name='_csrf_parameter']").attr("content");
    var csrfHeader = $("meta[name='_csrf_header']").attr("content");
    var csrfToken = $("meta[name='_csrf']").attr("content");

    var manualUploader = new qq.FineUploader({
        element: document.getElementById('fine-uploader-manual-trigger'),
        template: 'qq-template-manual-trigger',
        request: {
            endpoint: '/pictures/upload',
            method: "POST"
        },
        form:{
            element:'picturesUploadForm'
        },
        thumbnails: {
            placeholders: {
                waitingPath: '/images/placeholders/waiting-generic.png',
                notAvailablePath: '/images/placeholders/not_available-generic.png'
            }
        },
        autoUpload: false,
        debug: true,
        validation: {
            allowedExtensions: ['jpeg', 'jpg', 'txt', 'png', 'odt'],
            itemLimit: 3000000
        },
        callbacks: {
            onComplete: function(id, name, responseJSON, maybeXhr) {
                if(responseJSON.success==true)
                {
                    //alert("successfully uploaded");
                }
            },
            onCancel: function(id, name) {
            },
            onError: function(id, name, reason, maybeXhrOrXdr) {
            },
            onAllComplete: function(succeeded, failed) {
            }
        }
    });

    $('#trigger-upload').on('click', function(){
        manualUploader.uploadStoredFiles();
    });
</script>
<!--Custom Timeline js-->
<script th:src="@{/js/timeline.js}"></script>
    <script>
        wangEditor.config.mapAk =  'xI4iY6ZxYkUWGvQEhGERfkfa55vquqFr';
        var editor = new wangEditor('textarea1') ;
        editor.create();
    </script>
<!-- 显示富文本-->
    <script>
        var ue = document.getElementsByClassName('article1');
        var we =document.getElementsByClassName('insert') ;
        for(var i = 0 ;i<we.length ; i++){
            we[i].innerHTML = ue[i].textContent;
        }
        //document.getElementById('insert').innerHTML = document.getElementById('article1').textContent;
    </script>
</div>
</body>
</html>