<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>邮箱验证-july</title>
    <style>
        .login_form {
            width: 500px;
            background-color: #fefeff;
            border-radius: 4px 4px 0 0;
            position: relative;
            margin: 35px auto;
            padding: 20px;
            border: 1px solid #ddd;
            font-size: 14px;
        }
    </style>
</head>
<body style="background-color: #ededef">
<div class="wrapper" id="container">
    <div class="main-con">
        <div class="login_form" style="padding:20px;text-align:center">
            <h3>等待邮箱验证...</h3>
        </div>
    </div>
</div>
</body>
</html>